@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root{
    --blue: #755CDE;
    --yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7576;
    --cyan: #61C4B7;
    --purple: #552049;
    --black: #030303;
    --brown: #7A746E;
    --cream: #FFF7F0;
    //fonts
    --jakarta-sans: 'Roboto', sans-serif;
    --bold: 700;
    --medium: 500;
}

html{
    font-size: 62.5%;
}


body{
    font-family: var(--jakarta-sans);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden;
}

h2,h3{
    font-weight: var(--bold);
}
h3{
    font-size: 2.6rem;
}
p{
    font-weight: var(--medium);
    font-size: 1.6rem;
    line-height: 2.6rem;
}


header, footer{
    display: inline-flex;
    align-items: center;
    min-width:34.3rem;
    width: 90%;
    justify-content: space-between;
    .logo{
        width: 4.8rem;
        height: 4.8rem;
        background-image: url("../assets/logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4.8rem;
    }
    button{
        background-color: var(--black);
    }
}
.title{
    min-width: 34.3rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 3.2rem;
    h2{
        font-size: 3.6rem;
    }
    p{
        min-width: 28.5rem;
        color: var(--brown);
    }
}
button{
    border: none;
    border-radius: 2.8rem;
    font-size: 1.4rem;
    font-weight: var(--bold);
    width: 17.6rem;
    height: 4.4rem;
    color: var(--cream);
}
button:hover{
    cursor: pointer;
}

.solutions{
    display: grid;
    min-width: 34.3rem;
    width: 90%;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(2, auto);
    row-gap: 1rem;
    column-gap: 1rem;
    *{
        background-position: 90% 2.4rem;
        background-repeat: no-repeat;
        background-size: auto;
        color: #FFFFFF;
        font-weight: var(--bold);
        font-size: 2.4rem;
        outline: none;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        box-sizing: border-box;
        padding-left: 1rem;
    }
    .g-d{
        background-image: url("../assets/pattern-graphic-design.svg");
        background-color: var(--blue);
        min-height: 36.4rem;
        grid-column: 1/3;
        grid-row: 1;
    }
    .ui{
        background-image: url("../assets/pattern-ui-ux.svg");
        background-color: var(--yellow);
        min-height: 15.9rem;
        grid-row: 2;
        grid-column: 1/2;
    }
    .apps{
        background-image: url("../assets/pattern-apps.svg");
        background-color: var(--pink);
        min-height: 15.9rem;
        grid-row: 2;
        grid-column: 2/2;
    }
    .illustration{
        background-image: url("../assets/pattern-illustrations.svg");
        background-color: var(--light-red);
        min-height: 15.8rem;
        grid-column: 1/3;
        grid-row: 3;
    }
    .photography{
        background-image: url("../assets/pattern-photography.svg");
        background-color: var(--cyan);
        min-height: 18.2rem;
        grid-column: 1/3;
        grid-row: 4;
    }
    .m-g{
        background-image: url("../assets/pattern-motion-graphics.svg");
        background-color: var(--purple);
        min-height: 18.2rem;
        grid-column: 1/3;
        grid-row: 5;
    }
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5rem;
    .image-girl{
        min-width: 30rem;
        min-height: 30rem;
        background-image: url("../assets/image-amy.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .describtion{
        display: flex;
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        p{
            color: var(--brown);
        }
        button{
            background-color: var(--light-red);
        }
    }
}

.slider-cls{
    width: 100vw;
    background-color: var(--cream);
    height: 36rem;
    text-align: center;
    h3{
        font-size: 2.4rem;
        font-weight: var(--bold);
    }
    display: flex;
    justify-content: center;
}

.booking{
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background: var(--black);
    color: var(--cream);
    min-width: 34.3rem;
    max-width: 90%;
    min-height: 35.2rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
    button{
        background-color: var(--light-red);
    }
    
}


@media screen and (min-width: 800px) {
    
    button{
        width: 22.8rem;
        height: 5.6rem;
        font-size: 1.6rem;
    }
    p{
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    h3{
        font-size: 3.2rem;
    }

    header, footer{
        .logo{
            width: 6.4rem;
            height: 6.4rem;
            background-size: 6.4rem;
        }
    }
    .title{
        min-width: 57.3rem;
        max-width: 50%;
        margin-bottom: 6.4rem;
        h2{
            font-size: 4.4rem;
        }
    }
    .solutions{
        *{
            font-size: 2.4rem;
        }
        grid-template-rows: 18.2rem 15.8rem 18.2rem ;
        min-width: 69rem;
        row-gap: 2.4rem;
        column-gap: 2.4rem;
        .g-d{
            grid-row: 1/2;
            grid-column: 60%;
        }
        .ui{
            grid-row: 1;
            grid-column: 3;
        }
        .apps{
            grid-row: 1;
            grid-column: 4;
        }
        .illustration{
            grid-row: 2/3;
            grid-column: 3/5;
        }
        .photography{
            grid-row: 3/4;
            grid-column: 1/3;
        }
        .m-g{
            grid-row: 3/4;
            grid-column: 3/5;
        }
    }
    .information{
        margin: 12rem 0;
        position: relative;
        left: -10vw;
        min-width: 77.2rem;
        min-height: 36.4rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .image-girl{
            width: 36.4rem;
            height: 36.4rem;
        }
        .describtion{
            min-width: 33.9rem;
            max-width: 50%;
            text-align: left;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .booking{
        margin-top: 12rem;
        padding: 5.6rem 7.5rem;
    }

    
}

@media screen and (min-width: 1440px) {
    header,footer{
        max-width: 70%;
        min-width: 111rem;
        button:hover{
            background-color: var(--blue);
        }
    }
    h3{
        font-size: 4rem;
    }
    .title{
        margin-bottom: 8rem;
        p{
            min-width: 73rem;
            max-width: 50%;
        }
        h2{
            font-size: 5.6rem;
        }
    }
    .solutions{
        min-width: 111rem;
        max-width: 70%;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: 18.2rem 15.8rem;
        .g-d{
            grid-row: 1/2;
            grid-column: 1;
        }
        .ui{
            grid-row: 1;
            grid-column: 2;
        }
        .apps{
            grid-row: 1;
            grid-column: 3;
        }
        .illustration{
            grid-row: 2;
            grid-column: 2/4;
        }
        .photography{
            grid-row: 1;
            grid-column: 4;
        }
        .m-g{
            grid-row: 2;
            grid-column: 4;
            min-height: 15.8rem;
        }
    }
    .information{
        position:static;
        min-width: 111rem;
        max-width: 70%;
        .image-girl{
            width: 44.5rem;
            height: 44.5rem;
        }
    }
    .booking{
        padding: 6.5rem 8rem;
        min-width: 111rem;
        max-width: 70%;
        margin-top: 8.8rem;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        div{
            max-width: 50%;
            text-align: left;
        }
    }
    .information, .booking{
        button:hover{
            background-color: var(--yellow);
        }
    }
}